body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b0e4ff; /* Default background color */
    position: relative;
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
    z-index: 2;
}

.hidden {
    display: none;
}

#loading {
    margin: 20px;
}

.error {
    color: red;
}

.weather-icon {
    font-size: 50px;
    margin-top: 10px;
}